//Primary
$limeGreen: hsl(163, 72%, 41%);
$brightRed: hsl(356, 69%, 56%);
$facebook: hsl(208, 92%, 53%);
$twitter: hsl(203, 89%, 53%);
$instagram: linear-gradient(to right, hsl(37, 97%, 70%), hsl(329, 70%, 58%));
$youtube: hsl(348, 97%, 39%);


//Dark theme
$dToggle: linear-gradient(to right, hsl(210, 78%, 56%), hsl(146, 68%, 55%));
//Dark theme - neutral
$dgeneralBG: hsl(230, 17%, 14%);
$dtopBG: hsl(232, 19%, 15%);
$dcardBG: hsl(228, 28%, 20%);
$dtext: hsl(228, 34%, 66%);
$dgeneralText: hsl(0, 0%, 100%);

//Light theme
$lToggle: hsl(230, 22%, 74%);
//Light theme - neutral
$lgeneralBG:hsl(0, 0%, 100%);
$ltopBG: hsl(225, 100%, 98%);
$lcardBG: hsl(227, 47%, 96%);
$ltext: hsl(228, 12%, 44%);
$lgeneralText: hsl(230, 17%, 14%);

//Font
$fontInter: 'Inter', sans-serif;


