html {
  box-sizing: border-box;
}

*, *:before, *:after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  font-size: 14px;
  font-family: "Raleway", sans-serif;
  color: #dddbff;
  background-color: #0c122c;
  background-image: url("../images/bg-desktop.png");
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: contain;
  min-height: 110vh;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
}

.left-section {
  box-shadow: -1px 0px 21px 0px #0c122c;
  background-color: #1d2c67;
  padding: 40px 120px 40px 40px;
  border-radius: 10px 100px 10px 10px;
}
.left-section .items {
  display: flex;
  cursor: pointer;
}
.left-section .items .files {
  background-color: #0c122c;
  padding: 10px;
  margin: 30px 15px 0px 0px;
  border-radius: 8px;
  width: 45px;
  height: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.right-section {
  box-shadow: -1px 0px 21px 0px #0c122c;
  position: relative;
  margin-top: 37px;
  background-color: #1d2c67;
  margin-left: 25px;
  padding: 40px;
  border-radius: 10px;
}
.right-section .gb-used {
  color: #dddbff;
  font-weight: 400;
}
.right-section .gb-used span {
  font-weight: 700;
}
.right-section .bar {
  background-color: #0c122c;
  height: 20px;
  width: 450px;
  margin: 20px 0px 10px 0px;
  border: 3px solid #0c122c;
  border-radius: 8px;
}
.right-section .bar-progress {
  background: linear-gradient(to right, #ffa399, #ff4d97);
  height: 100%;
  width: 81.5%;
  display: flex;
  border-radius: 8px;
  align-items: center;
  justify-content: flex-end;
}
.right-section .bar-ball {
  width: 11px;
  height: 11px;
  border-radius: 7px;
  background-color: #dddbff;
  margin-right: 2px;
}
.right-section .gb-total {
  display: flex;
  justify-content: space-between;
}
.right-section .gb-total p {
  font-weight: 700;
}
.right-section .gb-to-use {
  position: absolute;
  right: 42px;
  top: -50px;
  background-color: white;
  padding: 15px;
  border-radius: 10px 10px 0 10px;
  font-weight: 700;
  font-size: 10px;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.right-section .gb-to-use .count {
  color: #0c122c;
  font-size: 40px;
}
.right-section .gb-to-use .text {
  color: #848794;
  text-transform: uppercase;
  margin-left: 10px;
  letter-spacing: 0.8px;
}
.right-section .gb-to-use .triangle {
  width: 0;
  height: 0;
  border-right: 15px solid white;
  border-top: 15px solid white;
  border-left: 15px solid transparent;
  border-bottom: 15px solid transparent;
  position: absolute;
  right: 0;
  bottom: -20px;
}

@media screen and (max-width: 899px) {
  body {
    background-image: url("../images/bg-mobile.png");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
  }

  .container {
    display: flex;
    flex-direction: column;
  }

  .left-section {
    width: calc(100% - 50px);
  }

  .right-section {
    width: calc(100% - 50px);
    margin-left: 0;
  }
  .right-section .gb-used {
    text-align: center;
  }
  .right-section .bar {
    width: 100%;
  }
  .right-section .gb-total {
    margin-bottom: 20px;
  }
  .right-section .gb-to-use {
    border-radius: 10px;
    top: auto;
    right: auto;
    left: 50%;
    transform: translate(-50%);
    padding: 15px 25px;
  }
  .right-section .gb-to-use .triangle {
    display: none;
  }
}

/*# sourceMappingURL=styles.css.map */
