@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;600;800&display=swap');


//Fonts

$fontItems: 14px;
$fontDetails: 16px;

//Google Fonts

$fontNunito: 'Nunito Sans', sans-serif;